.app {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: grid;
  min-width: 400px;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.field {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.field.full-row {
  grid-column: 1 / 6;
}

.field.first-two-grid {
  grid-column: 1 / 3;
}

.field.two-three-grid {
  grid-column: 2 / 4;
}

.field > div {
  display: table-cell;
  vertical-align: middle;
}

.field > div:not(.screen) {
  cursor: pointer;
  border: 1px solid rgba(153, 153, 153, 0.3);
}

.screen {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding-right: 10px;
  font-size: 2rem;
  height: 70px;
}

.screen > .decimal {
  margin-left: -5px;
}

.screen > .result {
  font-weight: 400;
}

.function {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.function:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.operator {
  background-color: rgba(255, 165, 0, 1);
}

.operator:active {
  background-color: #e49503;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
}

.number:active {
  background-color: rgba(0, 0, 0, 0.2);
}